body {
    margin: 0;
    padding: 0;
    background: #000;
    font-family: monospace;
}

#terminal {
    width: 100%;
    height: 100vh;
    background: #000;
}

/* Scrollbar neon */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background: #00aaff;
    border-radius: 10px;
}
