body {
    margin: 0;
    background: #000000;
    overflow: hidden;
    font-family: monospace;
}

/* Neon Glow BG */
body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: radial-gradient(circle at center, #00ffae15, #001f1f 70%);
    z-index: -1;
}

#terminal {
    width: 90vw;
    height: 85vh;
    margin: 40px auto;
    border-radius: 8px;
    box-shadow: 0 0 20px #00ffae;
}

/* XTERM THEME */
.xterm {
    padding: 15px;
}
